# Dominican Travel - Git Ignore
/logs/*.log
/public/assets/uploads/excursions/*
/public/assets/uploads/packages/*
/public/assets/uploads/transfers/*
/public/assets/uploads/proposals/*
/public/uploads/*
config/config.php
# Ignorar archivos del sistema
.DS_Store
Thumbs.db
*.tmp
